.alert {
    padding: 0px;
    /* background-color: #2f91a0;  */
    background-color:#00b8a94f ;
    color: white;
    margin-top: 5px;
    position: static;
    display: flex;
   
  }
  #TeamLiftLogo{
    height: 30px;
    width: auto;
  }
  #senderName{
width: 40%;
margin-left: 15px;
color: black;
font-family: serif;
margin-top: 8px;
  }
  #subject{
    text-align: center;
    color: black;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #lastPart{
    width: 20%;
  }

  .alert:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  .closebtn {
    margin-right: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 34px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: rgb(255, 0, 0);
  }

  .time-left{
    display: block;
    float: right;
    font-size: 13px;
    color: black;
    margin-right: 20px;
  }

  .fa-star{
    margin-top: 5px;
    font-size: 19px;
    margin-right: 9px;
  }
.StarColor{
  color: #04AA6D;
}
.blurDiv{
  /* 00b0a98f */
  /* background-color: #00b0a98f; */
  background-color: red;
}
  /******************************************************** model design ********************************************/

  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    opacity: 0.9;
  }

  button:hover {
    opacity:1;
  }

  button:hover {
    opacity:1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn, .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
/* search bar  */

.sidebar input {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #d7fff7;
}
/* .sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap");

 input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
 .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
 .bx-search:hover {
  background: #fff;
  color: #11101d;
}
/* Styles for screens 480px and below */
@media screen and (max-width: 1200px) {
  /* Add your styles for smaller screens here */
  .sidebar  {
    font-size: 14px; /* Example style for smaller screens */
    width: 160px;
  }
  .sidebar li .tooltip {
    display: none;
  }
  .alert{
    width: auto;
  }
}
