.alert {
    padding: 0px;
    /* background-color: #2f91a0;  */
    background-color:#00b8a94f ;
    color: white;
    margin-top: 5px;
    position: static;
    display: flex;
    width: 100%;
  }
  #TeamLiftLogo{
    height: 30px;
    width: auto;
  }
  #senderName{
width: 20%;
margin-left: 15px;
color: black;
font-family: serif;
margin-top: 8px;
  }
  #subject{
    text-align: center;
    color: black;
    width: 80%;
  }
  #lastPart{
    width: 20%;
  }

  .alert:hover{
    cursor: pointer;
    opacity: 0.7;
  }
  .closebtn {
    margin-right: 20px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 34px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }

  .time-left{
    display: block;
    float: right;
    font-size: 13px;
    color: black;
    margin-right: 20px;
  }

  .fa-star{
    margin-top: 5px;
    font-size: 19px;
    margin-right: 9px;
  }