<!-- partial:index.partial.html -->
<div class="wrapper">
    <ul>
      <li>hello,are we meeting today?</li>
      <li>yes,what time suits you?</li>
      <li>i was thinking after lunch,i have a meeting in the morning</li>
      <li>maybe another day?</li>
      <li>that's all right,what's about you? what are you going to do?</li>
      <li>i have no idea,go out for a walk or watching tv in home</li>
      <li>hello,are we meeting today?</li>
      <li>yes,what time suits you?</li>
      <li>i was thinking after lunch,i have a meeting in the morning</li>
      <li>maybe another day?</li>
      <li>that's all right,what's about you? what are you going to do?</li>
      <li>i have no idea,go out for a walk or watching tv in home</li>
    </ul>
  </div>

  <div class="card-footer">
    <div class="input-group">
        <input id="btn-input" type="text" class="form-control" placeholder="Type your message here..." />
        <span class="input-group-btn">
            <button class="btn " id="btn-chat" style="background-color: #00B8A9;">
                Send</button>
        </span>
    </div>
</div>

  <!-- partial -->